<div class="form-group">
  <label for="<%= name %>"><%= label %></label>

  <input
    type="<%= typeof type !== "undefined" ? type : "text" %>"
    name="<%= name %>"
    id="<%= name %>"
    <%= typeof value !== "undefined" ? `value="${value}"` : "" %>
    class="<%= errors && errors[name] ? 'input-error' : '' %>"
  />

  <% if (errors && errors[name]) { %>
    <div class="error"><%= errors[name] %></div>
  <% } %>
</div>