<li>
  <% if (node.subfolders && node.subfolders.length) { %>
    <details data-folder-id="<%= node.id %>">
      <summary><a href="/folder/<%= node.id %>"><%= node.name %></a></summary>
      <ul>
        <% for (const child of node.subfolders) { %>
          <%- include('folder-tree', { node: child, folderPath: typeof folderPath !== 'undefined' ? folderPath : [] }) %>
        <% } %>
      </ul>
    </details>
  <% } else { %>
    <a href="/folder/<%= node.id %>"><%= node.name %></a>
  <% } %>
</li>
